/* Lists of stories */

.stories-list {
	margin: 20px 5px;
}

.stories-list > li {
	color: gray;
	font-size: 0.8rem;
	margin: 1em 0;
}

.stories-list > li + li {
	border-top: solid lightgray 1px;
	padding-top: 1em;
}

#fav-stories-list,
#my-stories {
	list-style: none;
	padding-left: 20px;
}

#stories-loading-msg {
	font-weight: bold;
	font-size: 150%;
	margin: 20px 30px;
}

/* Individual stories */
.favorite,
.delete {
	font-size: 0.75rem;
	margin: 0 2px;
	cursor: pointer;
}

.story-link {
	color: black;
	font-size: 0.85rem;
	font-weight: normal;
	margin: 18px 0;
}

.story-link:hover {
	text-decoration: none;
}

.story-author {
	display: block;
	margin: 0.5em 0;
	color: rgb(56, 124, 33);
}

.story-user {
	display: block;
	color: rgb(240, 149, 52);
}
